.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.word-item {
  border: 2px solid white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5%;
  text-align: center;
}

.word-item:hover {
  background-color: rgba(255, 255, 255, 0.274);
}

#dragging {
  background-color: red;
}

#win {
  background-color: green;
  border-radius: 2rem;
}
